<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script> <!-- 스프링 부트는 기본적으로 src/main/resources/static 에 있는 정적파일(js, css, image, ..)들은 URL에서 /로 설정됨 -->
</body>
</html>